<ion-view view-title="My Friend's Trips">
  <ion-content class="padding">
    <h2>My Friend's Trips</h2>

	<div id="map" data-tap-disabled="true"></div>
<!--
		<div id="map_canvas" ng-controller="MyFriendsTripsCtrl">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
				<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
				</ui-gmap-marker>
			</ui-gmap-google-map>
		</div>
-->
  </ion-content>
</ion-view>
